@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src:
    url("../fonts/ptsansitalic.woff2") format("woff2"),
    url("../fonts/ptsansitalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src:
    url("../fonts/ptsansbolditalic.woff2") format("woff2"),
    url("../fonts/ptsansbolditalic.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

