@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src:
    url("../fonts/ptsansitalic.woff2") format("woff2"),
    url("../fonts/ptsansitalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src:
    url("../fonts/ptsansbolditalic.woff2") format("woff2"),
    url("../fonts/ptsansbolditalic.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: center;

  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 8px 10px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #83b3d3;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.button:active {
  outline: none;
  color: rgb(255, 255, 255, 0.3);
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-light:active {
  outline: none;
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}


/* Header */

.page-header {
  display: flex;
  padding: 0 70px;
  z-index: 1;
}

.logo-link {
  width: 139px;
  margin-right: 30px;
}

.logo {
  display: block;
}

.nav {
  display: flex;
  width: 891px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  max-width: 495px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav {
  max-width: 395px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 20px 17px 24px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #756257;
}

.nav-link:hover svg {
  fill: #756257;
}

.nav-link:active {
  color: rgb(117, 98, 87, 0.3);
}

.nav-link-current::before {
  position: absolute;
  content: "";
  left: 17px;
  right: 17px;
  bottom: 3px;
  height: 2px;

  background-color: #756257;
}

.user-nav .nav-link {
  width: 42px;
  height: 70px;
  padding: 24px 12px 27px;
  line-height: 18px;
}

.favourite-counter {
  position: absolute;
  top: 15px;
  left: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  background-color: #7db54f;
  border-radius: 50%;

  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
}

.nav-button {
  width: 160px;
  margin-top: 14px;
  margin-left: 20px;
}

/* Modal Search window */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-close {
  display: none;
}

.modal-search {
  width: 715px;
  height: 561px;
  margin: auto;
  padding: 62px 70px 70px;
  padding-top: 54px;
  border-radius: 30px;

  background-color: #ffffff;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.modal-search-title {
  margin: 0;

  font-size: 30px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
}

.close-button {
  position: relative;
  width: 53px;
  height: 53px;
  padding: 0;

  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-button svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.close-button:hover {
  background-color: #e6e6e6;
}

.close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.close-button:active {
  outline: none;
}

.close-button:active svg {
  fill: rgb(0, 0, 0, 0.3);
}

.search-form {
  display: flex;
  flex-direction: column;
  min-height: 330px;
}

.search-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.amount-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.counter {
  display: flex;
}

.search-form-group {
  position: relative;
  width: 575px;
}

.search-form-label {
  display: flex;
  width: 155px;

  font-weight: 700;
  text-align: left;
}

.amount-wrapper:first-child {
  margin-right: 56px;
}

.amount-wrapper:last-child {
  width: 230px;
}

.search-form .date-field {
  flex-grow: 1;
  padding: 18px 19px;
  padding-right: 35px;

  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-weight: 700;

  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 19px;
  border-radius: 4px;
}

.field-message {
  position: absolute;
  left: 155px;
  bottom: -21px;

  font-size: 16px;
}

.error-message {
  color: #ff5757;
}

/* Counter fields with buttons */

.counter .amount-field {
  width: 45px;
  padding: 10px;
  text-align: center;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border-radius: 0;
}

.counter .amount-field:focus {
  position: relative;
  border-radius: 4px;
  z-index: 1;
}

.amount-field::-webkit-inner-spin-button,
.amount-field::-webkit-outer-spin-button {
  appearance: none;
  margin: auto;
}

.counter-button {
  position: relative;
  width: 44px;
  height: 50px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.counter-minus {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.counter-plus {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.focus-box {
  display: block;
  width: 22px;
  height: 22px;
  margin: auto;
  background-color: transparent;
  border-radius: 4px;
}

.counter-minus::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  width: 13px;
  height: 2px;
  background-color: rgb(0, 0, 0, 0.3);
  content: "";
}

.counter-button:focus {
  outline: none;
}

.counter-minus:focus .focus-box {
  outline: 3px solid #83b3d3;
}

.counter-minus:hover::before,
.counter-minus:focus::before {
  background-color: rgb(0, 0, 0);
}

.counter-plus::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  width: 13px;
  height: 2px;
  background-color: rgb(0, 0, 0, 0.3);
  content: "";
}

.counter-plus::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  width: 13px;
  height: 2px;
  background-color: rgb(0, 0, 0, 0.3);
  transform: rotate(90deg);
  content: "";
}

.counter-plus:focus .focus-box {
  outline: 3px solid #83b3d3;
}

.counter-plus:hover::before,
.counter-plus:focus::before,
.counter-plus:hover::after,
.counter-plus:focus::after {
  background-color: rgb(0, 0, 0);
}

.info {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 9px;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-block {
  position: absolute;
  display: none;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  padding: 21px 22px 23px 22px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10px;
}

.info-block::before {
  position: absolute;
  top: -19px;
  left: 119px;
  width: 19px;
  height: 19px;
  border: 9px solid #000000;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: "";
}

.info:hover .info-block {
  display: block;
}

.search-form .button {
  margin-top: 9px;
  padding: 20px;

  font-size: 20px;
  line-height: 100%;
  border-radius: 10px;
}


/* Main */

.index-main {
  margin: 0 auto;
  margin-top: -4px;
}

.page-offer {
  width: 100%;
  height: 485px;
  margin-bottom: 63px;

  background-image:
    url("../images/welcome.svg"),
    url("../images/backgrounds/divider.svg"),
    url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-position:
    top 51px center,
    bottom,
    center;

}

/* Advantages */

.advantages {
  background-color: #ffffff;
}

.advantages-title {
  margin: 0;
  margin-bottom: 31px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-subtitle {
  margin: 0;
  margin-bottom: 80px;

  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 0;
  padding: 0;
  list-style-type: none;

  counter-reset: advantages;
}

.advantages-item {
  counter-increment: advantages;
}

.advantages-large-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;

  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-inner-list {
  grid-column: 1/-1;

  color: #000000;
  background-color: #ffffff;
}

.advantages-item:not(.advantages-large-item):nth-child(odd) {
  background-color: rgb(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even):not(.advantages-large-item) {
  background-color: rgb(131, 179, 211, 0.2);
}

.advantages-inner-list .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.advantages-large-item .item-container {
  padding: 90px;
}

.advantages-item:not(.advantages-large-item) {
  padding: 96px 75px 107px;
}

.advantages-inner-list .advantages-item {
  padding: 184px 75px 89px;
}

.advantages-heading {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.item-container .advantages-heading {
  order: -1;
  margin-bottom: 30px;
}

.advantages-item:not(.advantages-large-item) .advantages-heading {
  margin-bottom: 27px;
}

.advantages-list.advantages-inner-list .advantages-heading {
  margin-bottom: 20px;
}

.advantages-text {
  margin: 0;
}

.item-container .advantages-text {
  margin-top: 33px;
}

.item-container::before {
  content: "— №" counter(advantages) " —";
}

.advantages-img {
  grid-column: 2/-1;
  height: 100%;
  object-fit: cover;
}

.advantages-large-item:nth-child(2) .advantages-img {
  grid-column: 1/3;
  order: -1;
}

.living-item {
  background-image: url("../images/icons/living.svg");
  background-repeat: no-repeat;
  background-position: center top 89px;
}

.food-item {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center top 89px;
}

.souvenires-item {
  background-image: url("../images/icons/souvenires.svg");
  background-repeat: no-repeat;
  background-position: center top 85px;
}

/* Search */

.search {
  padding: 92px;
}

.section-title {
  margin: 0;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}



.section-text {
  margin: 0 auto;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  width: 575px;
  padding: 18px 15px 12px;
  border-radius: 10px;

  font-size: 20px;
  line-height: 30px;
}

/* Subscribe */

.subscribe {
  padding: 94px;
  color: #ffffff;
  background-image: url("../images/backgrounds/subscribe-bg.jpg");
}

.subscribe .section-text {
  margin-bottom: 46px;
  color: #ffffff;
}

.catalog-subscribe {
  margin-bottom: 107px;
  padding: 39px;

  color: #000000;
  background-image: none;
}

.catalog-subscribe .section-title {
  margin-bottom: 45px;
}

.catalog-subscribe .section-text {
  color: #333333;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 800px;
  margin: auto;
}

.field {
  padding: 18px 22px;

  font-size: 18px;

  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-error {
  outline: 2px solid #ff5757;
}

.field::placeholder {
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -1px;
}

.subscribe-form .button {
  min-width: 200px;
  padding: 20px;

  font-size: 20px;
  line-height: 100%;

  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/* Catalog */

.catalog-main {
  margin-top: -4px;
}

.filter-container {
  padding: 35px 71px 81px;

  color: #ffffff;
  text-align: left;

  background-color: #726464;
  background-image: url("../images/backgrounds/filters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-title {
  margin: 0;
  margin-bottom: -5px;

  font-size: 60px;
  line-height: 78px;
}

.breadscrumbs {
  display: flex;
  margin: 0;
  margin-left: -5px;
  margin-bottom: 43px;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadscrumbs-item {
  position: relative;
  margin-right: 10px;
}

.breadscrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -11px;
  margin: auto;
  width: 6px;
  height: 8px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  content: "";
}

.breadscrumbs-link {
  padding: 3px 7px;

  color: #ffffff;
  text-decoration: none;
}

.breadscrumbs-link:hover svg,
.breadscrumbs-link:not(.breadscrumbs-link-current):hover {
  color: rgb(255, 255, 255, 0.6);
  fill: rgb(255, 255, 255, 0.6);
  cursor: pointer;
}

.breadscrumbs-link:not(.breadscrumbs-link-current):focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.breadscrumbs-link:active svg,
.breadscrumbs-link:not(.breadscrumbs-link-current):active {
  color: rgb(255, 255, 255, 0.3);
  fill: rgb(255, 255, 255, 0.3);
  outline: none;
}

/* Filters */

.filters-form {
  display: flex;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;
}

.infra-group {
  width: 150px;
  margin-right: 62px;
}

.living-group {
  width: 150px;
  margin-right: 30px;
}

.price-group {
  width: 287px;
  margin-left: auto;
  margin-right: 82px;
}

.filter-group-title {
  margin-bottom: 31px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.price-group .filter-group-title {
  margin-bottom: 34px;
}

/* Checkboxes and radiobuttons */

.control {
  position: relative;
  padding-left: 41px;
}

.control:not(:last-child) {
  margin-bottom: 15px;
}

.infra-group .control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.infra-group .control-mark:hover {
  background-color: rgb(255, 255, 255, 0.6);
}

.infra-group .control-mark:active {
  background-color: rgb(255, 255, 255, 0.3);
}

input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/checkmark.svg");
  content: "";
}

.living-group .control-mark {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/radiomark.svg");
  content: "";
}

input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

/* Price fields */

.price-field-container {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;

  margin-bottom: 28px;
}

.price {
  position: relative;
}

.price-field {
  width: 143.5px;
  padding: 15px 19px 9px 17px;
  padding-right: 35px;
  border: 2px solid #ffffff;

  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  background-color: transparent;
}

.price-field::-webkit-inner-spin-button,
.price-field::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.min-price {
  grid-column: 1/3;
  grid-row: 1/2;
}

.min-price .price-field {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-price {
  grid-column: 2/4;
  grid-row: 1/2;
}

.max-price .price-field {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.min-price:hover .price-field {
  position: relative;
  border-color: #b2b9bc;
  z-index: 1;
}

.max-price:hover .price-field {
  position: relative;
  border-color: #b2b9bc;
  z-index: 1;
}

.min-price .price-field:focus {
  position: relative;
  outline: 3px solid #83b3d3;
  box-shadow: inset 0 0 0 3px #83b3d3;
  z-index: 1;
}

.max-price .price-field:focus {
  position: relative;
  outline: 3px solid #83b3d3;
  box-shadow: inset 0 0 0 3px #83b3d3;
  z-index: 1;
}

.price-field:active {
  background-color: #756257;
}

.price-label {
  position: absolute;
  top: 12px;
  right: 17px;
  color: rgba(255, 255, 255, 0.3);
}

/* Price range bar */

.range {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color:rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toogle-min {
  left: 0;
}

.toggle-max {
  left: 217px;
}

/* Filter buttons */

.buttons-group {
  align-items: center;
}

.buttons-group .button {
  margin-top: 61px;
  margin-bottom: 22px;
  padding: 16px 35px;

  line-height: 100%;
}

.buttons-group .button:focus {
  outline: 3px solid #ffffff;
}

.buttons-group .button:active {
  outline: none;
}

.reset-button {
  padding: 0 9px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  color: rgb(255, 255, 255, 0.6);
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset-button:active {
  color: rgb(255, 255, 255, 0.3);
  outline: none;
}

/* Sorting */

.hotels-section {
  padding: 44px 72px 34px;
}

.sorting-container {
  display: flex;
  margin-bottom: 49px;
}

.hotels-section-title {
  margin: 0;
  margin-right: auto;

  font-size: 30px;
  line-height: 51px;
  text-transform: uppercase;
}

.sorting-select {
  width: 287px;
  padding: 12px 18px;
  padding-right: 35px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;

  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 21px;

  appearance: none;
}

.sorting-select:hover,
.sorting-select:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.sorting-select:active {
  color: rgb(0, 0, 0, 0.3);
  border: 2px solid #e6e6e6;
}

.view-buttons-container {
  margin-left: 78px;
}

.view-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-left: 3px;
  padding: 17px 16px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.view-button-active {
  border: 2px solid #000000;
}

.tile-view {
  background-image: url("../images/icons/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide-view {
  background-image: url("../images/icons/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.list-view {
  background-image: url("../images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button:not(.view-button-active):hover,
.view-button:not(.view-button-active):focus {
  border: 2px solid #83b3d3;
  outline: none;
}

/* Hotels */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 18px;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  row-gap: 17px;
  width: 340px;

  padding: 20px;
}

.hotel-card-link {
  display: grid;
  grid-column: 1/-1;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  justify-self: start;

  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-img {
  margin-bottom: 16px;
  order: -1;
}

.hotel-card-link:hover .hotel-card-img {
  opacity: 60%;
}

.hotel-card-link:focus {
  outline: none;
  text-decoration: underline;
}

.hotel-card-link:focus .hotel-card-img {
  outline: 3px solid #83b3d3;
}

.hotel-card-link:active {
  text-decoration: none;
}

.hotel-card-link:active .hotel-card-img {
  opacity: 30%;
  outline: none;
}

.hotel-card-link:active .hotel-card-title {
  color: rgb(0, 0, 0, 0.3);
}

.hotel-card p {
  justify-self: start;
  margin: 0;
}

.hotel-card-price {
  grid-column: 3/4;
}

.hotel-card .button {
  width: 133px;
}

.hotel-card .button-light {
  grid-column: 3/4;
  width: 141px;
}

.button-chosen {
  background-color: #7db54f;
}

.button-chosen:hover,
.button-chosen:focus {
  background-color: #6C9E42;
}

.hotel-rating {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  width: 100%;
}

.hotel-stars {
  min-width: 18px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-position: center;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 68px;
}

.two-stars {
  width: 43px;
}

.hotel-rating-text {
  width: 160px;
  padding: 8px;

  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
}

.load-more {
  margin-bottom: 30px;
  padding: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.load-more .button {
  width: 620px;
  padding: 17px;

  font-size: 20px;
  line-height: 26px;
}

/* Pagination */

.pag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pag-list {
  display: flex;
  width: 640px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pag-item:not(:first-child) {
  margin-left: 8px;
}

.pag .button {
  display: block;
  min-width: 55px;
  min-height: 55px;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 15px;
  text-align: center;
}

.pag .button-current {
  color: #000000;
  background-color: #f2f2f2;
  cursor: auto;
}

.amount-select {
  width: 160px;
  margin-left: 47px;
  padding: 12px 17px;
  padding-right: 40px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  font-size: 18px;

  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  appearance: none;
}

.amount-select:hover,
.amount-select:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.amount-select:active {
  color: rgb(0, 0, 0, 0.3);
  border: 2px solid #e6e6e6;
}


/* Footer */

.page-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px 48px 20px 58px;
}

.page-footer.catalog-footer {
  padding: 21px 51px 22px 60px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
}

.socials-link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 13px;
}

.socials-link:not(:last-child) {
  margin-right: 4px;
}

.socials-link svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.socials-link:hover svg {
  fill: #68a2ca;
}

.socials-link:active svg {
  fill: rgb(104, 162, 202, 0.3);
}

.phone {
  margin-right: -42px;
  padding: 16px;

  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.catalog-footer .phone {
  margin-right: -20px;
}

.phone:hover {
  color: #756257;
}

.phone:active {
  color: rgb(117, 98, 87, 0.3);
}

.dev-logo {
  padding: 18px 22px;
}

.dev-logo:hover svg {
  fill: #756257;
}

.dev-logo:active svg {
  fill: rgb(117, 98, 87, 0.3);
}

.page-footer a:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.page-footer a:active {
  outline: none;
}
