@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src:
    url("../fonts/ptsansitalic.woff2") format("woff2"),
    url("../fonts/ptsansitalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src:
    url("../fonts/ptsansbolditalic.woff2") format("woff2"),
    url("../fonts/ptsansbolditalic.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

/* .visually-hidden {
  position: absolute;
  transform: scale(0);
} */
